html{
  scroll-behavior: smooth;
}

.container{
  width:90% !important;
  margin:0 auto !important;
}

#image-gallery{
  display:inline-block;
  float:left;
  max-width: 400px !important;
}

#description-root{
  float:right;
  max-width:600px !important;
}

#image-description-wrapper{
  display:inline-block;
}

.Carousel-Container{
  margin: 0 0 50px 0 !important;
}

#search-bar-root{
  width:90% !important;
  margin:0 auto !important;
}

#main{
  display: inline-block;
}